@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";
}
<script src="/Themes/GiftsLite/Content/nivoslider/JScripts/jquery.nivo.slider.pack.js"
    type="text/javascript"></script>
<script type="text/javascript">
    jQuery(window).load(function () {
        jQuery('#slider').nivoSlider({
            slices: 18,
            animSpeed: 800, //Slide transition speed
            pauseTime: 5000,
            startSlide: 0 //Set starting Slide (0 index)
        });
    });
</script>

<div class="home-page">
    <div id="wrapper row-fluid show-grid">
        @{ Html.AddCssFileParts(@Url.Content("~/Themes/GiftsLite/Content/nivoslider/themes/orman/orman.less")); }
        <link href="/Themes/GiftsLite/Content/nivoslider/nivo-slider.css" media="screen"
            rel="stylesheet" type="text/css" />
        <div class="theme-orman slider-wrapper">
            <div class="ribbon"></div>
            <div class="left-border"></div>
            <div class="center">
                <div class="nivoSlider" id="slider">
                    <img alt="" src="/Themes/GiftsLite/Content/nivoslider/images/toystory_orman.jpg" />
                    <img alt="" src="/Themes/GiftsLite/Content/nivoslider/images/up_orman.jpg" title="This is an example of a caption" />
                    <img alt="" src="/Themes/GiftsLite/Content/nivoslider/images/walle_orman.jpg" />
                    <img alt="" src="/Themes/GiftsLite/Content/nivoslider/images/nemo_orman.jpg" />
                </div>
            </div>
            <div class="right-border"></div>
        </div>
    </div>
    @Html.Action("HomepageCategories", "Catalog")
    @Html.Action("HomepageProducts", "Catalog")
    @Html.Action("HomepageBestSellers", "Catalog")
    @Html.Action("HomePageNews", "News")
    @Html.Action("HomePagePolls", "Poll")
</div>
