@model FooterModel
@using System.Globalization
@using Nop.Web.Models.Common;
<div class="footer">

@*added*@
@Html.Action("TopicBlock", "Topic", new { systemName = "_TopicFooterBlock" })
@*@added*@

<div class="clear"></div>

<div class="footer-disclaimer">
    @T("Content.CopyrightNotice", DateTime.Now.Year.ToString(CultureInfo.InvariantCulture), @Model.StoreName)
</div>

    <div class="footer-poweredby">
        Сайт разработал Александр Гончар (skype: player_skp, e-mail: <a href="mailto:gonchar.profit@gmail.com" title="Напишите мне">gonchar.profit@gmail.com</a>) при помощи <a href="http://www.nopcommerce.com/">nopCommerce</a>
    </div>
    
    <div class="footer-storetheme">
        @Html.Action("StoreThemeSelector", "Common")
    </div>
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = Nop.Core.Domain.Cms.WidgetZone.Footer })
</div>




@*@model FooterModel
@using Nop.Web.Models.Common;
<div class="footer">
    <div class="footer-poweredby">
        Powered by <a href="http://www.nopcommerce.com/">nopCommerce</a>
        <!--Would you like
                to remove the "Powered by nopCommerce" link in the bottom of the footer? Find more
                info here http://www.nopcommerce.com/copyrightremoval.aspx -->
    </div>
    <div class="footer-disclaimer">
        @T("Content.CopyrightNotice", DateTime.Now.Year.ToString(), @Model.StoreName)
    </div>
    <div class="footer-storetheme">
        @Html.Action("StoreThemeSelector", "Common")
    </div>
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = Nop.Core.Domain.Cms.WidgetZone.Footer })
</div>
*@