@model Nop.Web.Models.Common.ContactUsModel
@using Nop.Web.Framework.UI.Captcha;
@using Nop.Web.Framework;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);
}
<div class="contact-form">
    @Html.Action("TopicBlock", "Topic", new { systemName = "ContactUs" })
    <div class="clear">
    </div>
    @if (Model.SuccessfullySent)
    {
        <div class="result">
            <strong>@Model.Result</strong>
        </div>        
    }
    else
    {
        using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-search form-horizontal" }))
        {
        <fieldset>
            <div class="control-group">
                <div class="controls">
                    @Html.ValidationSummary(true)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.FullName, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.FullName, new { @class = "fullname" })
                    @Html.ValidationMessageFor(model => model.FullName)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.Email, new { @class = "email" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.Enquiry, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(model => model.Enquiry, new { @class = "enquiry" })
                    @Html.ValidationMessageFor(model => model.Enquiry)
                </div>
            </div>
            @if (Model.DisplayCaptcha)
            {
                <div class="control-group">
                    <div class="controls">
                        @Html.Raw(Html.GenerateCaptcha())
                    </div>
                </div>
            }
        </fieldset>

        <div class="form-actions">
            <button id="send-email" name="send-email" type="submit" class="btn btn-primary">@T("ContactUs.Button")</button>
        </div>
        }
    }
</div>
